<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>hirator</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
	<h1>Upload new file</h1>
	<form method="post" enctype="multipart/form-data">
		<div>
			<input type="button" id="sample"
				onclick="window.location.href=&quot;<VAR> url_for('download_sample') </VAR>&quot;"
				value="Download Sample YAML">
		</div>

		<div>
			<label for="file">
				Select source file* (.yaml or .tex)
			</label>
			<input type="file" id="file" name="file" accept=".yaml,.yml,.tex" required>
		</div>

		<div>
			<label for="photo">
				Select image file (optional)
			</label>
			<input type="file" id="photo" name="photo" accept="image/*">
		</div>

		<div>
			<input type=submit value="Generate PDF">
		</div>
	</form>
</body>

</html>
