<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>hirator</title>
	<link rel="stylesheet" href="<VAR> url_for('static', filename='css/style.css') </VAR>">
	<link rel="icon" type="image/x-icon" href="<VAR> url_for('static', filename='favicon.png') </VAR>">
</head>

<body>
	<h1>hirator</h1>
	<form method="post" enctype="multipart/form-data">
		<label for="fileInput">Select source file (.yaml or .tex)</label>
		<input type="file" id="fileInput" accept=".yaml,.yml,.tex">
		<button type="button" onclick="loadSample(&quot;<VAR> url_for('download_sample') </VAR>&quot;)">
			Or load sample</button>

		<input type="text" name="filename" placeholder="Enter document name (optional)">
		<textarea id="preview" name="preview" placeholder="Write document contents here..." required></textarea>
		<pre><code class="language-yaml"></code></pre>

		<label for="photo">Select image file (optional)</label>
		<input type="file" id="photo" name="photo" accept="image/*">

		<button type="submit" name="action" value="download_pdf">Download PDF</button>
		<button type="submit" name="action" value="download_yaml">Download YAML</button>

		<button type="submit" name="action" value="download_tex">Download TEX</button>
		<button type="submit" name="action" value="compile_tex">Compile TEX</button>
	</form>
	<script src="<VAR> url_for('static', filename='js/script.js') </VAR>"></script>
</body>

</html>
